<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="container">
        <div class="upperContainer">
            <h1>Blogify</h1>
            <h3>Your Go To Blog App ✌️</h3>
            <form action="/create" method="post">
                <button  class="createBlog" type="submit"> Create a Blog</button>
            </form>
        </div>
        <% if(locals.Title.length !=0 && locals.Content.length !=0){ %>
            <div class="lowerContainer">
                <h1>YOUR BLOGS:</h1>
                <div>
                    <% for(let i=0; i<Title.length; i++){ %>
                        <div class="blogsContainer">
                            <div class="title">
                                <%= Title[i] %>
                            </div>
                            <div class="content">
                                <%= Content[i] %>
                            </div>
                            <div class="lowerButtons">
                                <form action="/edit" method="post">
                                <input type="hidden" name="id" value="<%= i %>">
                                <button class="editBtn Btn" name="action" value="edit" type="submit"> edit</button>
                            </form>
                            <form action="/view" method="post">
                                <input type="hidden" name="id" value="<%= i %>">
                                <button class="viewBtn Btn" type="submit" name="action" value="view">View</button>
                            </form>
                            <form action="/delete" method="post">
                                <input type="hidden" name="id" value="<%= i %>">
                                <button class="deleteBtn Btn" type="submit" name="action" value="delete">Delete</button>
                            </form>
                            </div>
                            
                        </div>
                        <% } %>

                </div>
            </div>
            <%}%>
    </div>
</body>

</html>